sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: V6cidIrWNiH5n54lJFav7GxVXfs4eyzaOi/ObHBnqVx+sK2AqsIjNcBi+hmGovMeTrC3XyBmwkR8o17wdu5pML9XGdJprqdL/5TaUBE0AHgcFkmkUcfTuJCBLyHLZCIf/2OhdoHr3SEhz0VE2POn1WPqXMNZydBLR9O6AGBfLTgTzGYMFi7QpBNwmJr8nOG6UPxuc/wWp2Gmb1KRwE5agO9geGNA7i4sXB12U77VkK+hSqXWz22ZlrkEH9XnhPSJQ1FQrgP8cTFHzgruuuGxZ+8OF227LNSIMakUjjTbeyno5gtpJZUA0PNtZw91LItPeRUaBzIUEi4JcXir7iN2T3pcOpFcaM8C0p5z4cfvviT5KvraHsJKJ2hjZ2tmoBQRGszVyNBz/C2KEhCEizsiXYwNJIKB9suNxjKbcUszTcaJpibzyfLZuFZtbDe3XxyoT8sZdQrrUkd2fFl6/tWYM8ix58Sk8knrkG4+iLi/0/vzwC0Pc5ix+kBare8aSkeNylq1f60fu4SM1YJDCNDIKylq/MmNJV2RY+UrhJ3OQD2WBnula1s/MwcQmljoUxnuiz9oZoV5BHbWfusoOtuT7XQksF9ISr6B3YGXtmJjII9u6OHYm/m6ybN0+B8dMh8pJf0ezDNkAF91RKHfQZMJEzJwU4yMLqX43lqz1T/VQn8=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/Vittoria-Volume-5_4439
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy